#AboutWE{
    position: relative;
    .hero-header{
        height: 400px;
        .hero-header-bkg {
            height: 600px;
        }
    }
    .hero-header::after{
        background: transparent;
    }
    .about-slogan,
    .about-brandStory,
    .about-cert{
        max-width: 712px;
        margin: 0 auto;
        position: relative;
        
    }
    .about-main{
        padding-bottom: 3rem;
        padding-top: 25rem;
    }
    .hero-intro2{
        font-size: 20px;
        text-align: center;
        max-width: 712px;
        margin: 0 auto;
        padding: 0 3rem;
    }
    .about-top-deco{
        
        margin: 0 auto;
        width: 321px;
        img{
            width: 100%; 
            background-position: 50% 10%; 
            background-size: cover; 
            height: 100%; 
            object-fit: cover;
        }
    }
    .about-bkg{
        position: absolute;
        top: 20%;
        left: 0;
        z-index: -1;
        img{
            width: 100%; 
            background-position: 50% 10%; 
            background-size: cover; 
            height: 100%; 
            object-fit: cover;
        }
        &:after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 50%;
            // background: red;
            background: rgb(1,27,62);
background: linear-gradient(0deg, rgba(1,27,62,0) 0%, rgba(6,11,26,1) 100%);
            //background: rgb(1,27,62);
            //background: linear-gradient(180deg, rgba(1,27,62,0) 0%, rgba(0,15,36,0.9) 100%);
          }
    }
    .about-brandStory{
        margin: 0 auto;
        text-align: center;
        max-width: 712px;
        padding-top: 12rem;
        padding-bottom: 3rem;
        padding: 40px 1.5rem;
        margin-top:5rem;
        border-bottom: 0.5px solid #B0936D;
        .line-deco-vertical{
            position: absolute;
            bottom: 7%;
            left: 50%;
            transform: translateX(-50%);
            width: 18px;
            height: 80px;
            pointer-events: none;
            display: none;
        }
    }
    .about-h2{
        font-family: $fontFuturaMedium;
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 30px;
        text-transform: uppercase;
        color: #D8D8D8;
        padding-bottom: 1rem;
        text-align: center;
    }
    .about-h4{
        font-family: $fontFuturaMedium;
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 50px;
        text-transform: uppercase;
        color: #D8D8D8;
        text-align: center;
    }
    .about-p{
        padding-top: 30px;
        font-family: $fontBarlowLight;
        font-size: 18px;
        font-weight: 100;
        line-height: 1.5;
        color: #979797;
        max-width: 712px;
        margin: 0 auto;
        padding: 13px 1.5rem;
        letter-spacing: 1px;
    }
    .line-deco{
        width: 80px;
        margin: 0 auto;
        padding-top: 0rem;
        img{
            width: 100%; 
            background-position: 50% 10%; 
            background-size: cover; 
            height: 100%; 
            object-fit: cover;
        }
    }
    .about-mission{
        max-width: 930px;
        position: relative;
        padding: 40px 1.5rem;
        border-bottom: 0.5px solid #B0936D;
        .upper{
            position: relative;
        }
        .line-deco-vertical{
            display: none;
        }
        #upper-frame{
            display: none;
        }
        .line-deco{
            margin: 0 auto;
            padding-bottom: 0.5rem;
        }
        .about-p{
            padding-top: 12px;
            text-align: center;
            padding: 13px 1.5rem;
        }
        .square-deco-m{
            width: 14px;
            height: 14px;
            margin: 0 auto;
            display: block;
            margin-top: 2rem;
        }
        .lower .line-deco{
            display: none;
        }
    }
    .about-slogan{
        text-align: center;
        padding-top: 5rem;
        padding: 40px 1.5rem;
        border-bottom: 0.5px solid #B0936D;
    }
    .Dynamic-frame {
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        display: none;
    }
    .Dynamic-frame-2 {
        position: absolute;
        top: -4%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        display: none;
    }
    #Dynamic-frame-outer{
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translateX(-50%);
        width: 939px;
        height: 572px;
        pointer-events: none;
        display: none;
    }
    #Dynamic-frame-2-outer-m{
        display: none;
    }
    .about-section{
        max-width: 712px;
        clip-path: polygon(10% 0, 100% 0, 100% 85%, 91% 100%, 0 100%, 0 16%);
        background:red;
    }
    .about-cert{
        height: 800px;
        text-align: center;
        margin-top: 3rem;
        padding-top: 5rem;
        position: relative;
        .cert-diamond{
            position: absolute;
            z-index: -1;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 262px;
            height: 467px;
        }
        .cert-diamond-stroke-2,
        .cert-diamond-stroke{
            position: absolute;
            z-index: -2;
            top: 0;
            left: 35%;
            transform: translateX(-50%);
            width: 173px;
            height: 307px;
        }
        .cert-diamond-stroke-2{
            left: 65%;
        }
        .cert-wrap{
            margin-top: 3rem;
            width: 100%;
        }
        .about-cert-icon{
            margin: 0 auto;
            margin-top: 3rem;
        }
        #iconGLC{
            margin-top: 40px;
            width: 178px;
            height: 64px;
        }
        #iconPagcor{
            width: 94px;
            height: 94px;
        }
        .about-bottom-deco{
            margin: 0 auto;
            margin-top: 5rem;
            width: 321px;
        }
    }
    #about-top-deco-lg,
    #Dynamic-frame-outer-w,
    #about-top-deco-w,
    #about-bottom-deco-w,
    #Dynamic-frame-w,
    #Dynamic-frame-m,
    #Dynamic-frame-outer-m{
        display: none;
    }
    #about-bottom-deco-m,
    #about-top-deco-m{
        display: block;
    }
}

#frame_svg {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    left: 10vw; top: 10vh;
    width: 80vw; height: 80vh;
  }
//expand style

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    #AboutWE .about-mission .square-deco-m{
        display: none;
    }
    #AboutWE .about-main {
        padding-top: 17rem;
    }
    #AboutWE .about-main .about-h2{
        padding-bottom: 3rem;
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #AboutWE .about-cert .about-bottom-deco,
    #AboutWE .about-top-deco{
        width: 100%;
        max-width: 900px;
    }
    #AboutWE .line-deco {
        padding-top: 1rem;
        display: none;
    }
    #AboutWE {
        #about-top-deco-m,
        #about-bottom-deco-m,
        #Dynamic-frame-outer-w,
        #Dynamic-frame-w{
            display: none;
        }
        #about-top-deco-w,
        #about-bottom-deco-w,
        #Dynamic-frame-m,
        #Dynamic-frame-outer-m{
            display: block;
        }
    }
    #AboutWE .about-brandStory .about-p {
        padding: 13px 3rem;
    }
    #AboutWE .about-p {
        font-size: 24px;
    }
    #AboutWE .Dynamic-frame{
        width: 735px;
        height: 764px;
        display: block;
    }
    #AboutWE #Dynamic-frame-outer{
        width: 735px;
        height: 764px;
        display: block;
    }
    #AboutWE .about-brandStory .about-p {
        max-width: 600px;
    }
    #AboutWE .about-h2{
        font-size: 36px;
    }
    #AboutWE .about-brandStory{
        border-bottom: none;
    }
    #AboutWE .about-brandStory,
    #AboutWE .about-mission,
    #AboutWE .about-slogan{
        border: none;
        margin-top: 8rem;
    }
    #AboutWE .about-cert .about-cert-icon {
        margin: 20px 30px;
    }
    #AboutWE .about-brandStory .line-deco-vertical{
        display: block;
        bottom: -6%;
        margin: 0 auto;
    }
    #AboutWE #Dynamic-frame-2-w{
        display: none;
    }
    #AboutWE #Dynamic-frame-2-m{
        display: block;
    }
    .Dynamic-frame-2 {
        position: absolute;
        top: -3%;
        left: 50%;
        width: 717px;
        height: 1289px;
        transform: translateX(-50%);
        z-index: -1;
        display: none;
    }
    #AboutWE  .about-mission .lower .line-deco{
        display: block;
    }
    #AboutWE  .about-mission .about-h2{
        margin-bottom: 2rem;
    }
    #AboutWE  .about-mission .about-h4{
        margin-top: 2rem;
    }
    #AboutWE #Dynamic-frame-2-outer-m{
        position: absolute;
        top: -5%;
        left: 50%;
        width: 735px;
        height: 1311px;
        transform: translateX(-50%);
        z-index: -1;
        display: block;
    }
    #AboutWE .about-mission .line-deco-vertical{
        position: absolute;
        top: -47%;
        transform: scaleY(-1);
        left: 50%;
        display: block;
    }
    #AboutWE .about-cert .cert-diamond {
        width: 541px;
        height: 962px;
    }
    #AboutWE .about-cert .cert-diamond-stroke-2, #AboutWE .about-cert .cert-diamond-stroke {
        width: 357px;
        height: 635px;
    }
    #AboutWE .about-cert {
        padding-top: 12rem;
    }
    #AboutWE .about-slogan .line-deco{
        display: block;
        padding-top: 0;
    }
    #AboutWE .about-main .about-h2 {
        padding-bottom: 2rem;
    }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #AboutWE .about-main{
        margin-top: 5rem;
    }
    #AboutWE .about-p {
        font-size: 16px;
    }
    #AboutWE .about-top-deco {
        margin-top: 7rem;
    }
    #AboutWE .about-brandStory {
        padding-top: 5rem;
        padding-bottom: 15rem;
    }
    #AboutWE .about-h2{
        font-size: 36px;
    }
    #AboutWE .about-mission {
        padding-top: 13rem;  
    }
    #AboutWE .about-mission .about-h2 {
        padding-left: 0rem;
        line-height: 48px;
        padding-top: 0;
    }
    #AboutWE .about-mission .lower{
        padding: 0;
        margin-top: -36px;
    }
    #AboutWE .Dynamic-frame{
        width: 911px;
        height: 531px;
    }
    #AboutWE .about-brandStory .about-h2{
        padding-top: 50px;
        margin-bottom: 0;
    }
    #AboutWE .about-brandStory .line-deco{
        margin-bottom: 10px;
        padding-top: 3rem;
        display: block;
    }
    #brandstory-about{
        padding-top: 2rem;
    }
    #AboutWE .hero-header .hero-header-bkg {
        height: 886px;
    }
    #AboutWE .about-main {
        padding-top: 13rem;
        padding: 0 3rem;
    }
    #AboutWE .about-brandStory .about-p{
        padding: 0;
        max-width: inherit;
    }
    #AboutWE  .lower .about-p {
        font-size: 16px;
        padding:0;
    }
    #AboutWE .about-mission .line-deco {
        padding: 10px 0;
    }
    #AboutWE #Dynamic-frame-2-m{
        display: none;
    }
    #AboutWE #Dynamic-frame-2-w{
        display: block;
    }
    #AboutWE .Dynamic-frame-2 {
        position: absolute;
        top: 18%;
        left: 50%;
        width: 939px;
        height: 597px;
        transform: translateX(-50%);
        z-index: -1;
        display: none;
    }
    #AboutWE #Dynamic-frame-2-outer-m{
        display: none;
    }
    #AboutWE .about-mission #upper-frame {
        position: absolute;
        top: -49%;
        right: 3%;
        width: 844px;
        height: 291px;
        display: block;
    }
    #AboutWE .about-mission .upper .about-p{
        padding:0;
        text-align: left;
        width: 492px;
        margin-top: -50px;
        margin-left: -30px;
        line-height: 30px;
    }
    #AboutWE .about-mission .line-deco-vertical{
        top: -81%;
        left: 50%;
    }
    #AboutWE .about-cert{
        height: 900px;
        margin-top: 10rem;
        padding-top: 14rem;
    }
    #AboutWE .about-cert .cert-diamond {
        width: 542px;
        height: 962px;
    }
    #AboutWE .about-cert .cert-diamond-stroke-2, #AboutWE .about-cert .cert-diamond-stroke {
        width: 351px;
        height: 635px;
    }
    #AboutWE .about-cert .about-bottom-deco {
        margin-top: 7rem;
    }
    #AboutWE .Dynamic-frame{
        display: block;
        top: 19%;
        width: 943px;
        height: 553px;
    }
    #AboutWE #Dynamic-frame-outer {
        top: 16%;
        width: 965px;
        height: 588px;
        display: block;
    }
    #AboutWE .about-brandStory .line-deco-vertical {
        bottom: 0;
    }
    
    #AboutWE .about-brandStory, #AboutWE .about-mission, #AboutWE .about-slogan {
        margin-top: 8rem;
    }
    #AboutWE #Dynamic-frame-outer-m,
    #AboutWE  #Dynamic-frame-m{
        display: none;
    }
    #AboutWE #Dynamic-frame-outer-w,
    #AboutWE #Dynamic-frame-w{
        display: block;
    }
    #AboutWE #about-top-deco-lg{
        display: block;
    }
 }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}