#allLiveGame {
    .hero-header {
        height: 430px;
    }
    .hero-header-bkg{
        height: 430px;
    }
    .hero-float {
        padding-top: 10rem;
    }
    .ALG-logo-wrap{
        width: 206px;
        height: 192px;
        margin: 0 auto;
        position: relative;
        .ALG-logo {
            width: 100%; 
            height: 100%; 
            background-position: 50% 10%; 
            background-size: cover; 
            object-fit: cover;
        }
    }
    .allLiveGame-main{
        padding: 1rem 2rem;
        text-align: center;
        .hero-intro2{
            font-size: 16px;
            line-height: 1.7;
        }
        .livegame-scroll-title{
            padding-top: 5rem;
            font-family: $fontFuturaMedium;
            font-size: 26px;
            letter-spacing: 1px;
            font-weight: 100;
            line-height: 1.3;
            text-align: left;
        }
        .owl-carousel{
            display: block;
        }
    }
    .popular-game-carousel-container{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .popular-game-carousel{
        font-size: 18px;
        padding: 40px 0;
        height: 500px;
        .owl-dots{
            display: none;
        }
        .owl-nav{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateX(-50%);
        }
        .owl-nav span{
            display: none;
        }
        .owl-nav .owl-prev ,
        .owl-nav .owl-next {
            width: 34px;
            height: 34px;
            left: -55px;
            margin: 5px 28px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOSIgaGVpZ2h0PSIzNSIgdmlld0JveD0iMCAwIDI5IDM1Ij4KICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzg5NjYzRCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAxKSI+CiAgICA8cG9seWxpbmUgcG9pbnRzPSIwIDEzLjMwNCAyOCAxMy4zMDQgMTQgMCIvPgogICAgPHBvbHlsaW5lIHBvaW50cz0iMCAzNCAyOCAzNCAxNCAxOS4yMTciIHRyYW5zZm9ybT0ibWF0cml4KDEgMCAwIC0xIDAgNTMuMjE3KSIvPgogIDwvZz4KPC9zdmc+Cg==);
        }
    }
    .game-icon-bkg-wrap{
        width: 177px;
        height: 330px;
        margin: 0 auto;
        margin-top: 3rem;
        padding:10px;
        img{
            width: 100%;
            height: 100%;
            max-width: 100%;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: 50% 50%;
        }
    }
    .pg-slide{  
        transition: 250ms all;
        // padding: 0 5px;
        &:hover{
            transform: scale(1.2);
            z-index: 1  ;
            margin-right: 30px;
            margin-left: 30px;
        } 
    }

      
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #allLiveGame .allLiveGame-main .hero-intro2{ 
        font-size: 26px;
        max-width: 712px;
        margin: 0 auto;
        line-height: inherit;
    }
    #allLiveGame .allLiveGame-main{
        padding: inherit;
    }
    #allLiveGame .allLiveGame-main .livegame-scroll-title{
        padding-left: 5vw;
    }
    #allLiveGame .popular-game-carousel-container{
        padding-left: 5vw;
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #allLiveGame .allLiveGame-main .hero-intro2{ 
        max-width: 900px;
    }
    #allLiveGame .game-icon-bkg-wrap{
        width: 295px;
        height: 550px;
    }
    #allLiveGame .popular-game-carousel{
        height: 800px;
    }
}

