#allLiveGame {
    .hero-header {
        height: 430px;
    }
    .hero-header-bkg{
        height: 430px;
    }
    .hero-float {
        padding-top: 10rem;
    }
    .ALG-logo-wrap{
        width: 206px;
        height: 192px;
        margin: 0 auto;
        position: relative;
        .ALG-logo {
            width: 100%; 
            height: 100%; 
            background-position: 50% 10%; 
            background-size: cover; 
            object-fit: cover;
        }
    }
    .allLiveGame-main{
        padding: 1rem 2rem;
        text-align: center;
        .hero-intro2{
            font-size: 16px;
            line-height: 1.7;
        }
        .livegame-scroll-title{
            padding-top: 5rem;
            font-family: $fontFuturaMedium;
            font-size: 26px;
            letter-spacing: 1px;
            font-weight: 100;
            line-height: 1.3;
            text-align: left;
        }
        .owl-carousel{
            display: block;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

