#slider-area .slide{
	height: 300px;
	width: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
    background-position: 50% 50%;
    position: relative;
}
#slider-area .owl-dots{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
     button{
        width: 20px;
        height: 1.5px;
        transform: skew(-20deg);
        background: #979797;
        margin: 0 0.2rem;
    }
}
#slider-area .owl-dots .active button{
    transform: skew(-20deg);
    background: red;
}
.slider-text{
	position: absolute;
	left: 50%;
	z-index: 2;
    top:40%;
    width: 100%;
	transform: translate(-50%);
    text-align: center;
    background-color: transparent;
    h2{
        font-size: 30px;
        color: $mainText;
        font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    }
    p{
        font-size: 16px;
        color: $primaryText;
        padding: 1rem 0;
    }
    a{
        text-decoration: none;
        padding: 15px 25px;
        display: inline-block;
    }
    button{
        font-size: 13px;
        font-family: Futura,Trebuchet MS,Arial,sans-serif; 
        letter-spacing: 3px;
        text-align: center;
        text-shadow: 0 1px 1px #00204C;
        text-decoration: none;
        color: white;
        width: 200px;
        height: 46px;
        padding: 15px 32px;
        display: inline-block;
        margin: 4px 2px;
        position: relative;
        background: rgb(0,67,131);
        background: -moz-linear-gradient(138deg, rgba(0,67,131,0.3) 0%, rgba(0,32,76,0.8) 34%, rgba(0,32,76,0.8) 71%, rgba(0,32,76,0.3) 100%);
        background: -webkit-linear-gradient(138deg, rgba(0,67,131,0.3) 0%, rgba(0,32,76,0.8) 34%, rgba(0,32,76,0.8) 71%, rgba(0,32,76,0.3) 100%);
        background: linear-gradient(138deg, rgba(0,67,131,0.3) 0%, rgba(0,32,76,0.8) 34%, rgba(0,32,76,0.8) 71%, rgba(0,32,76,0.3) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004383",endColorstr="#00204c",GradientType=1);
        border: 1px solid rgb(202,172,133);
        border: 1px solid -moz-linear-gradient(138deg, rgba(202,172,133,1) 0%, rgba(137,102,61,0.6) 34%, rgba(137,102,61,1) 71%, rgba(137,102,61,1) 100%);
        border: 1px solid -webkit-linear-gradient(138deg, rgba(202,172,133,1) 0%, rgba(137,102,61,0.6) 34%, rgba(137,102,61,1) 71%, rgba(137,102,61,1) 100%);
        border: 1px solid linear-gradient(138deg, rgba(202,172,133,1) 0%, rgba(137,102,61,0.6) 34%, rgba(137,102,61,1) 71%, rgba(137,102,61,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#caac85",endColorstr="#89663d",GradientType=1);
        cursor: pointer;
        &:before {
            content: "";
            position: absolute;
            top: -1px;
            left: 0%;
            width: 198px;
            height: 46px;
            z-index: 1;
            background-repeat: no-repeat;
            background-image: url(/images/icon/button_1.svg);
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: -25%;
            width: 200px;
            height: 46px;
            z-index: -1;
            background-color: linear-gradient(134deg, rgba(0,67,131,0.30) 0%, rgba(0,32,76,0.80) 38%, rgba(0,32,76,0.80) 75%, rgba(0,32,76,0.30) 100%);
            transform: rotate(-180deg);
            
        }
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .slider-text{
        width: 500px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #slider-area .slide {
        height: 600px;
    }
    #slider-area .owl-dots button{
        width: 33px;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #slider-area .slide{
        height: 880px;
    }
    .slider-text{
        width: 700px;
    }
    .slider-text{
        h2{
            font-size: 60px;
        }
        p{
            font-size: 26px;
            padding: 3rem 0;
        }
    }
    #slider-area .owl-dots button{
        width: 63px;
    }
    


}


// Carousal with indicator
// #introCarousel .item{
//     width:100%;
//     height: 300px;
//     background-color: red;
//   }
  
// .owl-item {
//     background-color: #D2527F;
//     color: white;
//     text-align: center;
//     padding: 100px 0;
//   }
  
//   .owl-prev,
//   .owl-next {
//     display: inline-block;
//   }
//   .owl-next {
//     float: right;
//   }
//   .slider-counter {
//     text-align: center;
//   }
  
//   .info {
//     text-align: center;
//     margin-top: 110px;
//   }