#slider-area .slide,
#intdexWhatsNews .news-item-img{
	width: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
    background-position: 50% 50%;
}
#slider-area .slide{
	height: 300px;
}

#slider-area .owl-dots{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
     button{
        width: 20px;
        height: 1.5px;
        transform: skew(-20deg);
        background: #979797;
        margin: 0 0.2rem;
    }
}
#slider-area .owl-dots.active button{
    background-color: $secondaryColor;
    width: 20px;
    height: 3.5px;
    transform: skew(-20deg);
    margin: 0 0.2rem;
}
.header-wrapper .slider-text{
	position: absolute;
	left: 50%;
	z-index: 2;
    top: 130px;
    width: 100%;
	transform: translate(-50%);
    text-align: center;
    background-color: transparent;
    h2{
        font-size: 30px;
        color: $mainText;
        font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    }
    p{
        font-size: 16px;
        color: $primaryText;
        padding: 0.5rem 0;
    }
    a{
        text-decoration: none;
        padding: 5px 0px;
        display: inline-block;
    }
}
.header-wrapper .slider-text .mainBtn:focus {
    outline: none;
}
#slider-area button.owl-dot.active {
    background-color: $secondaryColor;
    width: 20px;
    height: 3.5px;
}
#wrapper .owl-carousel .owl-item img {
    height: auto;
    
}
// What's News carousel
#intdexWhatsNews .news-slider{
    width: 100%;
    border: 1px solid red;
}
#intdexWhatsNews .news-slider .news-item{
    width: 90vw;
    border: 1px solid green;
    padding: 3rem;
}
#intdexWhatsNews .pagedot-counter{
    text-align: center;
}
#intdexWhatsNews .news-item-img{
    height: 300px;
    width: 300px;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    #slider-area .slide{
        height: 400px;
    }
    #intdexWhatsNews .news-slider .news-item{
        width: 600px;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .header-wrapper .slider-text{
        width: 500px;
        a{
            padding:  0px;
        }
    }
    
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #slider-area .slide {
        height: 600px;
    }
    #slider-area .owl-dots button{
        width: 63px;
    }
    #slider-area button.owl-dot.active {
        width: 63px;
        height: 3.5px;
    }
    .header-wrapper .slider-text{
        top: 320px;
        h2{
            font-size: 40px;
        }
        p{
            font-size: 20px;
            padding: 1rem 0;
        }
    }
    #intdexWhatsNews .news-slider .news-item{
        width: 770px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #slider-area .slide{
        height: inherit;
    }
    .header-wrapper .slider-text{
        width: 700px;
        h2{
            font-size: 60px;
        }
        p{
            font-size: 26px;
            padding: 3rem 0;
        }
    }
    #slider-area .owl-dots button{
        width: 63px;
    }
    #slider-area .owl-dots.active button{
        width: 63px;
        height: 3.5px;
    }
    #intdexWhatsNews .news-slider .news-item{
        width: 800px;
    }
    
}


// Carousal with indicator
// #introCarousel .item{
//     width:100%;
//     height: 300px;
//     background-color: red;
//   }
  
// .owl-item {
//     background-color: #D2527F;
//     color: white;
//     text-align: center;
//     padding: 100px 0;
//   }
  
//   .owl-prev,
//   .owl-next {
//     display: inline-block;
//   }
//   .owl-next {
//     float: right;
//   }
//   .slider-counter {
//     text-align: center;
//   }
  
//   .info {
//     text-align: center;
//     margin-top: 110px;
//   }