.cookie-container {
    position: fixed;
    color: #979797;
    bottom: -100%;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgb(1,27,62);
    background: linear-gradient(310deg, rgba(1,27,62,1) 0%, rgba(0,15,36,0.9) 100%);
    color: #979797;
    padding: 20px 20px;
    text-align: center;
    transition: 400ms;
    margin: 0 auto;
    p{
      width: 700px;
      font-family: $fontBarlowLight;
      font-size: 16px;
      font-weight: 100;
      letter-spacing: 0.5px;
      margin: 0 auto;
    }
  }
  .cookie-container.active {
    bottom: 0;
  }
  .cookie-container a {
    color: #fff;
  }
  .cookie-btn {
    background: #89663D;
    border: 0;
    color: #fff;
    padding: 12px 48px;
    font-size: 18px;
    border-radius: 0;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    }
    .cookie-btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(176,147,109);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 200ms ease-out;
    }
    .cookie-btn:hover::after{
    transform: scaleX(1);

  }
  