#error404{
    height: 100vh;
    width: 100vw;
    margin: 8rem 0;
    .error-main-bkg{
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: -1;
        img{
            width: 100%; 
            background-position: 50% 10%; 
            background-size: cover; 
            height: 100%; 
            object-fit: cover;
        }
        
    }
    .error-wrap{
        text-align: center;
        
    }
    .error-header{
        max-width: 300px;
        margin: 0 auto;
        
        h2{
            font-size: 80px;
            line-height: 40px;
        }
        .deco-cat{
            padding-top: 30px;
            width: 300px;
        }
        p{
            padding-top: 30px;
        }
    }
    .error-content{
        margin-top: 30px;
        h4{
            font-size: 20px;
            font-weight: 100;
        }
    }
    
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

        
 }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
    
}