#error404{
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: 8rem 1rem;
    .error-main-bkg{
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: -1;
        img{
            width: 100%; 
            background-position: 50% 10%; 
            background-size: cover; 
            height: 100%; 
            object-fit: cover;
        }
        
    }
    
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

        
 }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
    
}