@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #nav-area .search-form{
        top: 0px;
    }
    #nav-ara .closeBtn{
        top: 10px;
    }
    .nav-item button{
        padding: 0.5rem 1em;
    }
    .nav-icon-wrapper{
        top: 3px;
    }
    .nav-wrap {
        height: 60px;
    }
    
    #wrapper .owl-carousel .owl-item img {
        height: auto;
    }
    #wrapper #nav-area{
        top: 5px;
    }
    #searchForm input::-ms-clear {
        width : 0;
        height: 0;
    }
    #liveGame .hero-header h1{
        font-weight: 500;
    }
    #liveGame .hero-deco{
        width: 220px;
    }
    .feature-photo picture{
        padding-top: 43px;
    }
    .intdexHotPick-bkg, .intdexWhatsNews-bkg, 
    .hero-header-bkg, .live-game-main-bkg{
        width: 100%;
        height: auto;
    }
    .owl-carousel.owl-drag .owl-item{
        height: 400px;
    }
    #slider-area{
        display: block;
    }
    #slider-area .owl-carousel .owl-stage {
        display: flex;
    }
    #slider-area .owl-carousel .owl-item img {
        width: auto;
        height: 100%;
    }
    #slider-area .news-slide{
        height: 300px;
    }
    #indexWhatsNews{
        height: 650px;
    }
    #indexWhatsNews{
        bottom: -90px;
    }
    #indexWhatsNews .owl-carousel.owl-drag .owl-item{
        height: 492px;
    }
    #newsFeed .frame-detail .frame-right::after{
        background: transparent;
        color: #89663d;
    }
    #newsFeed .timeline-wrap .timeline::before{
        width: 2px;
    }
    #liveStudio .studio-slide-bkg-2 img{
        height: auto; 
        
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {     
        #nav-ara .closeBtn{
            top: 10px;
        }
        #slider-area .slide{
            height: auto;
        }
        
    }
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        #nav-ara .closeBtn{
            top: 18px;
        }
        #wrapper #nav-area{
            top: 10px;
        }
        .deco-cat{
            width: 230px;
        }
        .feature-photo picture{
            padding-top: 13px;
        }
        .owl-carousel.owl-drag .owl-item{
            height: 500px;
        }
        #slider-area .news-slide{
            height: 350px;
        }
        #news-carousel .owl-carousel.owl-drag .owl-item{
            height: 350px;
        }
        #liveStudio .studio-slide-bkg-2{
            height: 2500px;
        }
        
    }
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        #wrapper #nav-area{
            top: 0px;
        }
        .subnav-arrow{
            left: 39.5%;
        }
        #allGameBtn {
            margin-top: 35px;
        }
        .feature-photo picture{
            padding-top: 0px;
        }
        .owl-carousel.owl-drag .owl-item{
            height: 600px;
        }
        #slider-area .news-slide{
            height: 450px;
        }
        #news-carousel .owl-carousel.owl-drag .owl-item{
            height: 500px;
        }
        #liveStudio .livestudio-hightlight-wrap{
            padding-bottom: 0;
        }
        #diamondCarousel .dia-pagedot-counter{
            bottom: 2%;
        }
        #newsFeed .loadmore-deco-wrap .more-round-btn{
            width: 101%;
        }
        .nav-icon-wrapper{
            top: 10px;
        }
    }
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        #wrapper .search-black #nav-area{
            top: 1%;
        }
        .subnav-arrow{
            left: 38.5%;
        }
        #slider-area .slide{
            height: 100%;
        }
        .owl-carousel.owl-drag .owl-item{
            height: 880px;
        }
        #news-carousel .owl-carousel.owl-drag .owl-item{
            height: 500px;
        }
    }
    @media (min-width: 1500px) {
        #news-carousel .owl-carousel .owl-item {
            height: 600px;
        }
    }
    @media (min-width: 2000px) {
        #news-carousel .owl-carousel .owl-item {
            height: 800px;
        }
    }
}