@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #nav-area .search-form{
        top: -5px;
    }
    #nav-area{
        top: 0;
    }
    #nav-ara .closeBtn{
        top: 10px;
    }
    #searchForm input::-ms-clear {
        width : 0;
        height: 0;
    }
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {     
        #nav-ara .closeBtn{
            top: 10px;
        }
        #slider-area .slide{
            height: auto;
        }
    }
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        #nav-ara .closeBtn{
            top: 10px;
        }
        #wrapper #nav-area{
            top:0;
        }
        .deco-cat{
            width: 230px;
        }
    }
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .subnav-arrow{
            left: 39.5%;
        }
        #allGameBtn {
            margin-top: 35px;
        }
    }
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        .subnav-arrow{
            left: 38.5%;
        }
        #slider-area .slide{
            height: 100%;
        }
    }
}