.deco-cat{
    font-family: $fontBarlowThin;
    font-size: 24px;
    font-weight: 100;
    color: #E1E1E1;
    padding-top: 3.8rem;
    padding-bottom: 2.8rem;
    
}
.deco-header{
    font-family: $fontFutura;
    font-size: 44px;
    color: #DDDDDD;
    padding-bottom: 1.25rem;
}
.deco-content{
    font-family: $fontBarlowThin;
    font-size: 24px;
    color: #A1A1A1;
    max-width: 590px;
    margin: auto;
}