#services .services-main{
    padding-top: 300px;
    max-width: 700px;
    margin: 0 auto;
}
#services .hero-header {
    height: 400px;
}
#services .hero-header-bkg {
    height: 400px;
}
.services-row{
    width: 100%;
    max-width: 400px;
    margin: 0 auto ;
}

.service-item{
    text-align: center;
    width: 100%;
    padding: 5px 0;
    
}
.service-img{
    width: 132px;
    height: 132px;
    margin: 0 auto;
    border: 1px solid green;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .service-item{
        width: 33%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

 }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}
