$mainText: rgb(255,255,255);
$primaryText: rgb(216,216,216);
$primaryNav: rgb(161,161,161);
$secondaryColor: rgb(176,147,109);

//button
// $primaryBtn :

//font
$fontBarlow: 'Barlow',sans-serif, Arial, Helvetica;
$fontBarlowRegular: 'Barlow Regular',sans-serif, Arial, Helvetica;
$fontBarlowThin: Barlow-Thin ,sans-serif, Arial, Helvetica;
$fontFutura:  Futura-pt, "Trebuchet MS", Arial, sans-serif; 
// $fontFuturaMedium:  Futura Medium, "Trebuchet MS", Arial, sans-serif; 

//hamburger
$bar-width: 17px;
$bar-height: 1px;
$bar-spacing: 8px;
