#EventDetail{
    .event-info{
        h5{
            color: #C5955E;
            font-size: 16;
            letter-spacing: 1px;
            font-family: $fontBarlowMedium;
        }
        h6{
            font-family: $fontBarlowLight;
            padding-top: 15px;
        }
    }
    .hero-title{
        padding-top: 30px;
    }
    .icon-link{
        margin-right: 20px;
    } img{ 
        width: 30px;
        height: 30px;
        
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    .Event-Detail-main{
        padding-top: 10rem;
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #EventDetail .hero-float{
        text-align: left;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

 }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}