#slider-area .news-slide{
    height: 300px;
}
#newsFeed .news-filter-wrap{
    height: calc(100% - 3em);
    width: 100%;
    background: rgb(2,48,91);
    background: rgb(2,48,91);
    background: -moz-linear-gradient(0deg, rgba(2,48,91,0) 0%, rgba(0,25,59,1) 37%, rgba(6,11,26,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(2,48,91,0) 0%, rgba(0,25,59,1) 37%, rgba(6,11,26,1) 100%);
    background: linear-gradient(0deg, rgba(2,48,91,0) 0%, rgba(0,25,59,1) 37%, rgba(6,11,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#02305b",endColorstr="#060b1a",GradientType=1);
}
#newsFeed {
    .news-filter-wrap{
        margin: auto;
        padding: 3rem 2rem;
        .news-filter{
            text-transform: uppercase;
            font-family: $fontFuturaMedium;
            font-size: 16px;
            font-weight: 100;
            color: #FFFFFF;
            letter-spacing: 1px;
            padding: 1rem 0rem;
            padding-left: 1rem;
            border-top: 1px solid rgba(137, 102, 61, 0.5);
            border-bottom: 1px solid rgba(137, 102, 61, 0.5);
            .filter-item{
                text-transform: uppercase;
                font-family: $fontFuturaMedium;
                font-size: 16px;
                font-weight: 100;
                color: rgba(216, 216, 216, 0.4);
                letter-spacing: 1px;
                padding-right: 2rem;
                cursor: pointer;
            }
            .active{
                color: #FFFFFF;
            }
        }
        
    }
    .timeline-wrap{
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .timeline{
            width: 80%;
            height: auto;
            max-width: 800px;
            position: relative;
            
        }
        .timelinne ul{
            list-style: none;
            li{
                padding: 20px;
                background-color: grey;
                margin-bottom: 20px;
            }
        }
    }
    
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #slider-area .news-slide{
        height: 350px;
    }
    #newsFeed .news-filter-wrap{
        padding: 3rem 5rem;
    }
    #newsFeed .timeline-wrap .timeline ul li{
        width: 50%;
        margin-bottom: 50px;
        position: relative;
        &:after{
            content:'';
            position: absolute;
            bottom: 0;
            height: 20px;
            width: 20px;
            background-color: #89663D;
        }
    }
    #newsFeed .timeline-wrap .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-50px);
        &:after{
            right: -50px;
            transform: translate(50%, -50%);
        }
    }
    #newsFeed .timeline-wrap .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(50px);
        &:after{
            left: -50px;
            transform: translate(-50%, -50%);
        }
    }
    #newsFeed .timeline-wrap .timeline::before{
        content:'';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 1px;
        background-color: #89663D;
        
    }
}
#newsFeed .event-photo{
    width: 250px;
    height: 250px;
    margin: auto;
}
#newsFeed .event-photo picture{
    position: relative;
}
#newsFeed .event-photo picture:after{
    content: "";
        position: absolute;
        top: -229px;
        left: 4px;
        z-index: 1;
        height: 229px;
        width: 229px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzODMiIGhlaWdodD0iMzgzIiB2aWV3Qm94PSIwIDAgMzgzIDM4MyI+CiAgPHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjODk2NjNEIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0iTTM4Mi4yNSwwLjc1IEw1OC43Mzg3MDgsMC43NSBMMC43NSw1OC43Mzg3MDggTDAuNzUsMzgyLjI1IEwzMjQuMjYxMjkyLDM4Mi4yNSBMMzgyLjI1LDMyNC4yNjEyOTIgTDM4Mi4yNSwwLjc1IFoiLz4KPC9zdmc+Cg==");
}
#newsFeed .frame-detail{
    max-width: 250px;
    margin: auto;
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #slider-area .news-slide{
        height: 450px;
    }
    #newsFeed .filter-item{
        font-size: 24px;
    }
    #newsFeed .event-photo{
        width: 250px;
        height: 250px;
        margin: inherit;
    }
 }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}