/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "TrebuchetMS";
  src: url("./fonts/TrebuchetMS.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/TrebuchetMS.eot?#iefix") format("embedded-opentype"), url("./fonts/TrebuchetMS.otf") format("opentype"), url("./fonts/TrebuchetMS.svg") format("svg"), url("./fonts/TrebuchetMS.woff") format("woff");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
}

html,
body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Barlow',Trebuchet MS,sans-serif, Arial, Helvetica;
  color: #fff;
  background-color: #060B1A;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

h1 {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  line-height: 15.4px;
}

img {
  width: 100%;
  height: 100%;
}

#wrapper {
  width: 100%;
  min-width: 300px;
  height: auto;
  overflow: hidden;
}

a, li {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

#wrapper {
  position: relative;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
}

#nav-area {
  padding-left: calc(max(22px, env(safe-area-inset-left)));
  padding-right: calc(max(22px, env(safe-area-inset-right)));
  padding: 0 22px;
  position: absolute;
  max-width: 1300px;
  z-index: 5;
  top: 2%;
  left: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
}

#wrapper .nav_links {
  display: none;
  position: absolute;
  left: 50%;
  top: 5%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  padding: 0;
}

#wrapper .nav_links a {
  text-decoration: none;
  color: #a1a1a1;
  font-family: Barlow;
  font-weight: 200;
  font-size: 16px;
  margin: 13px 0px;
}

#wrapper .nav_links a:hover {
  color: white;
}

.nav-logo {
  width: 90px;
  height: auto;
}

.nav-icon-wrapper {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 85px;
}

.nav-icon-wrapper,
.icon-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-search,
.icon-lang {
  width: 15px;
  height: 15px;
}

.search-wrapper {
  border-left: 1px solid;
  padding-left: 15px;
}

.icon-search {
  margin-right: 1rem;
}

.icon-lang {
  margin-left: 0.5rem;
  border-left: 1px solid #fff;
}

.icon-search h6 {
  text-decoration: none;
  color: #a1a1a1;
  font-family: Barlow;
  font-weight: 200;
  font-size: 16px;
  margin: 0 5px;
}

.menu-wrapper {
  display: block;
  position: absolute;
  z-index: 3;
  top: 12px;
  right: 0;
  width: 30px;
  height: 30px;
}

.hamburger-menu:after,
.hamburger-menu:before {
  width: 17px;
  height: 1px;
  border-radius: 0.5px;
}

.hamburger-menu {
  position: relative;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  background: white;
  -webkit-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
}

.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 15px;
  bottom: 8px;
  background: white;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 25px;
  top: 8px;
  background: white;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

@media (min-width: 768px) {
  .nav-logo {
    width: 110px;
  }
  #wrapper #nav-area {
    top: 5%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #wrapper .nav-link {
    padding: .5rem 1rem;
  }
}

@media (min-width: 992px) {
  .nav-logo {
    width: 160px;
  }
  .menu-wrapper {
    display: block;
    top: 14px;
  }
  #wrapper .nav_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-icon-wrapper {
    right: 3%;
    top: 10%;
  }
  .menu-wrapper {
    display: none;
  }
  #wrapper .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .nav-logo {
    width: 160px;
  }
  #wrapper .nav_links {
    width: 900px;
  }
  #wrapper .nav-link {
    padding: .5rem 1.8rem;
  }
}

#slider-area .slide {
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.slider-text {
  position: absolute;
  left: 50%;
  z-index: 2;
  top: 40%;
  width: 100%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  background-color: transparent;
}

.slider-text h2 {
  font-size: 30px;
  color: white;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.slider-text p {
  font-size: 16px;
  color: #d8d8d8;
  padding: 1rem 0;
}

.slider-text a {
  text-decoration: none;
  padding: 15px 25px;
  display: inline-block;
}

.slider-text button {
  font-size: 13px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: 0 1px 1px #00204C;
  text-decoration: none;
  color: white;
  width: 200px;
  height: 46px;
  padding: 15px 32px;
  display: inline-block;
  margin: 4px 2px;
  position: relative;
  background: #004383;
  background: linear-gradient(138deg, rgba(0, 67, 131, 0.3) 0%, rgba(0, 32, 76, 0.8) 34%, rgba(0, 32, 76, 0.8) 71%, rgba(0, 32, 76, 0.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004383",endColorstr="#00204c",GradientType=1);
  border: 1px solid #caac85;
  border: 1px solid -moz-linear-gradient(138deg, #caac85 0%, rgba(137, 102, 61, 0.6) 34%, #89663d 71%, #89663d 100%);
  border: 1px solid -webkit-linear-gradient(138deg, #caac85 0%, rgba(137, 102, 61, 0.6) 34%, #89663d 71%, #89663d 100%);
  border: 1px solid linear-gradient(138deg, #caac85 0%, rgba(137, 102, 61, 0.6) 34%, #89663d 71%, #89663d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#caac85",endColorstr="#89663d",GradientType=1);
  cursor: pointer;
}

.slider-text button:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0%;
  width: 198px;
  height: 46px;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: url(/images/icon/button_1.svg);
}

.slider-text button:after {
  content: "";
  position: absolute;
  top: 0;
  left: -25%;
  width: 200px;
  height: 46px;
  z-index: -1;
  background-color: linear-gradient(134deg, rgba(0, 67, 131, 0.3) 0%, rgba(0, 32, 76, 0.8) 38%, rgba(0, 32, 76, 0.8) 75%, rgba(0, 32, 76, 0.3) 100%);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media (min-width: 768px) {
  .slider-text {
    width: 500px;
  }
}

@media (min-width: 992px) {
  #slider-area .slide {
    height: 600px;
  }
}

@media (min-width: 1200px) {
  #slider-area .slide {
    height: 880px;
  }
  .slider-text {
    width: 700px;
  }
  .slider-text h2 {
    font-size: 60px;
  }
  .slider-text p {
    font-size: 26px;
    padding: 3rem 0;
  }
}
/*# sourceMappingURL=main.css.map */